body {
  margin: 0;
  background: #222;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 10px 0;
}

canvas {
  background: #333;
  display: block;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 10px;
}
